<script setup>
import Paginated from "../layouts/Paginated.vue"
import Panel from "../components/Panel.vue"
</script>

<template>
  <Paginated title="ABOUT">
    <img
      class="content-image"
      src="/hosts.jpg"
      alt="Hosts profile photo of Hannah and Jess"
    />
    <div class="card">
      <div class="col">
        <div class="left">
          <h3>Hannah</h3>
          <p>
            Hannah realised her love of sailing and the sea from a young age
            when she was fortunate enough to sail on yachts. She was also
            inspired by Patrick O'Brien's Aubrey and Maturin books, the Master
            and Commander film, and an exciting trip to HMS Victory at
            Portsmouth. When she heard that tall ships were still operating and
            that you could sail them, she sighed inwardly, as she knew her life
            would never be the same.
          </p>

          <p>
            At the age of 19 she set sail on topsail schooner Oosterschelde from
            Mauritius to Australia on a 38 day voyage. She then worked on
            brigantine Eye of the Wind during the summer breaks from Uni and
            kept sailing her great-uncle's yacht where possible. After
            attempting to start careers in superyachts and flotillas in Greece,
            she realised that traditional sailing was more her ditty-bag. In
            2018 she joined National Historic Ships' year-long traineeship which
            saw her visit operational vessels and work in various maritime
            museums around the country including the National Museum of the
            Royal Navy. It was during this year she also met Jess.
          </p>

          <p>
            In 2020, Hannah started work with sail cargo company EcoClipper as
            Communications Manager and was introduced to the world of sail cargo
            (which she will keep bringing up). Since then she's done bits and
            bobs for other companies such as Lynher Barge CIC and New Dawn
            Traders, occasionally working with Jess along the way.
          </p>

          <p>
            Hannah is currently a Trustee for the Maritime Heritage Trust and a
            Director for Lynher Barge CIC. She was a panellist on an online
            webinar discussing Diversity and Inclusion in the Maritime Heritage
            Sector, hosted by National Historic Ships. She also has written
            blogs and articles, of which she's keen to do more and you can find
            on LinkedIn.
          </p>

          <p>
            Drop her a line:
            <a
              href="https://www.linkedin.com/in/hhurford"
              title="Linkedin referral"
              >linkedin: hhurford</a
            >
          </p>
        </div>
        <div class="right">
          <h3>Jess</h3>
          <p>
            Jess was a little late to the sailing party, taking her first step
            aboard a Tall Ship (or any ship/boat for that matter) when she was
            30. Which is not all that surprising having been born and raised in
            land-locked Birmingham. She soon caught up however, after a life
            changing trip on Dutch Brig, Morgenster and volunteering all of her
            spare time on the heritage sailing trawler, Pilgrim of Brixham, she
            eventually left her career in the education sector to take on
            National Historic Ships UK's SHTP2 traineeship, meeting co-host
            Hannah Hurford in the process.
          </p>
          <p>
            Jess's SHTP2 placement was less straight forward than Hannah's the
            previous year, with the collapse of her placement host just weeks
            before starting and later the global Covid 19 pandemic. Jess took
            matters into her own hands and subsequently spent the latter part of
            the traineeship as a roaming sailor, travelling the country and
            sailing every different rig she could find.
          </p>
          <p>
            Drop her a line:
            <a
              href="https://www.facebook.com/JessClayUnderSail/"
              title="Jess Clay Under Sail Facebook"
              >facebook: JessClayUnderSail</a
            >
          </p>
        </div>
      </div>
    </div>
    <template #page2>
      <div style="height: 3rem"></div>
      <Panel />
    </template>
  </Paginated>
</template>

<style scoped>
.col {
  display: flex;
}
.left {
  margin-right: 32px;
}
.right {
  margin-left: 32px;
}
.content-image {
  width: 100%;
  margin-left: -25vb;
}
</style>
