<script setup>
import Paginated from "../layouts/Paginated.vue"
</script>

<template>
  <Paginated title="BLOG">
    <h1>Contact</h1>

    <p>
      Aliquam eget egestas nisi. Integer semper ligula eget mollis maximus.
      Integer eget hendrerit ligula. Sed a elit interdum, suscipit lacus et,
      feugiat leo. Aliquam erat volutpat. Proin vel sodales ipsum, eu dignissim
      justo. Vestibulum sed neque sed nisi placerat gravida. Sed sed urna vitae
      eros eleifend pellentesque. Mauris sit amet risus dolor. Praesent blandit
      aliquam feugiat.
    </p>

    <p>
      Donec nec magna malesuada, pellentesque urna et, varius orci. Vestibulum
      mollis tortor non lacus dictum, sed porta orci imperdiet. Proin eget lacus
      fermentum, interdum lectus ut, varius justo. Aenean placerat cursus lacus,
      porta gravida ipsum fringilla vel. Proin egestas purus quis felis
      accumsan, ac convallis ante maximus. Etiam maximus congue velit luctus
      malesuada. Ut viverra erat euismod nisi maximus, in pellentesque ligula
      vehicula. Duis sit amet leo hendrerit, euismod lectus pulvinar, posuere
      enim. Quisque convallis id justo vitae dapibus. Cras egestas dapibus erat
      vitae rhoncus. Aliquam et sem facilisis, feugiat erat eu, tempor dui.
      Nullam dapibus auctor tellus quis congue.
    </p>

    <p>
      Integer posuere mattis quam, id fringilla ipsum commodo non. Nullam at
      eros ut odio tincidunt mattis vitae viverra orci. Sed tempus lectus sed
      elementum vulputate. Curabitur et facilisis libero. Aliquam dui lorem,
      lacinia in est quis, blandit convallis ante. Nunc interdum lacus
      consectetur tortor tristique posuere. Quisque ut nunc diam. Donec auctor
      lorem nec consequat hendrerit. Proin aliquam hendrerit quam, nec iaculis
      augue scelerisque at.
    </p>

    <p>
      Suspendisse sed varius metus. Vivamus vulputate egestas sapien vitae
      condimentum. Sed rhoncus quis lacus at congue. Vestibulum pulvinar tortor
      ex, id molestie mauris congue id. Nam vitae lectus efficitur augue gravida
      scelerisque eu a enim. Donec bibendum arcu et vehicula lobortis. Quisque
      porta turpis ultrices, hendrerit nibh id, rhoncus odio. Donec non
      elementum sem. Morbi vel libero quam. Suspendisse a mattis leo. Donec
      iaculis pretium tempus. Etiam nec commodo tellus, vitae vehicula lectus.
      Aenean malesuada rhoncus ante, id posuere libero pulvinar at.
    </p>
  </Paginated>
</template>
