<script setup>
import Panel from "../components/Panel.vue"
import Nav from "../components/Nav.vue"

defineProps({
  title: String,
})
</script>

<template>
  <div class="masthead">
    <img
      src="/off-watch-logo-exportable-minified.svg"
      class="logo glow ow"
      alt="Off Watch Logo"
    />
  </div>
  <div id="page">
    <p class="link-block">
      @offwatchpod on
      <a href="https://www.instagram.com/offwatchpod/">Instagram</a> |
      <a href="https://facebook.com/offwatchpod">facebook</a> |
      <a href="https://www.youtube.com/@offwatchpod">Youtube</a> |
      <a href="https://feeds.buzzsprout.com/2121210.rss">RSS</a>
    </p>
    <Nav />

    <div class="border v-spacing" id="buzzsprout-small-player-limit-1"></div>
    <component
      :is="'script'"
      type="application/javascript"
      charset="utf-8"
      src="https://www.buzzsprout.com/2121210.js?artist=&container_id=buzzsprout-small-player-limit-1&limit=1&player=small"
    ></component>
    <div class="card">
      <p>
        All things traditional sailing with Jess Clay and Hannah Hurford! Grab a
        cuppa, put ya feet up and listen to the gentle chatter of two friends
        swapping stories and interviewing guests…
      </p>
      <p>
        Sailors Jess Clay and Hannah Hurford chat about traditional sailing -
        from diving into the history and stories of the vessels themselves, to
        exploring themes which are a part of the industry today.
      </p>
    </div>

    <div class="border">
      <Panel />
    </div>

    <div class="card" id="buzzsprout-small-player-rest-6"></div>
    <component
      :is="'script'"
      type="application/javascript"
      charset="utf-8"
      src="https://www.buzzsprout.com/2121210.js?artist=&container_id=buzzsprout-small-player-rest-6&limit=6&player=large"
    ></component>
  </div>
</template>

<style scoped>
#page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: var(--col-base);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.link-block {
  margin: 16px 0 40px 0;
}

.col {
  display: flex;
}
.left {
  margin-right: 32px;
}
.right {
  margin-left: 32px;
}
.even {
}

.logo {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
}
.glow {
  will-change: filter;
}
.glow.ow:hover {
  filter: drop-shadow(0 0 2em var(--col-primary));
}

.content-image {
  max-width: 80%;
  aspect-ratio: 16 / 9;
}
.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
