<script setup lang="ts">
import { routes } from "../App.vue"

const links = Object.keys(routes)
</script>

<template>
  <h1>Missing :(</h1>
  <p>
    <a :href="links[0]" title="Go Home">Home</a>
  </p>
</template>
