<script setup>
import Panel from "../components/Panel.vue"
import Paginated from "../layouts/Paginated.vue"
</script>

<template>
  <Paginated title="LISTEN">
    <h1>Season 3</h1>

    <div class="card-item">
      <div class="number">1</div>
      <div class="embed-area" id="buzzsprout-player-14618019"></div>
      <component
        :is="'script'"
        type="application/javascript"
        charset="utf-8"
        src="https://www.buzzsprout.com/2121210/14618019-s3e1-on-station.js?container_id=buzzsprout-player-14618019&player=small"
      ></component>
    </div>

    <div class="card">
      <p>Announcing Off Watch - Season 3!</p>

      <p>We're back! New Season, New Ship! And we have lots to chat about!</p>

      <p>
        We'll be looking at the fascinating history of working boats - from
        Pilot Cutters to Smacks & Trawlers to Thames Barges and lots more! We'll
        also be shining the ships spotlight on some of the hidden hero's that
        support the sailing word from the RNLI to Light Ships and beyond.
      </p>

      <p>
        And! After an eventful winter we find ourselves crewing on a new vessel,
        the Nevermore! - We like her a lot, though she's got some interesting
        quirks...
      </p>
    </div>

    <div class="card">
      <p>A new ship and a new season of the Off Watch Podcast!</p>

      <p>
        Join us in #gloucester as we take a tour aboard LV SULA and learn about
        the fascinating role of Light Vessels!
      </p>

      A massive thank you to Colin and Viv of LV14 SULA Lightship for sharing
      your time, your stories and your experiences with us - it was a brilliant
      day and we learned (and laughed!) a lot.

      <p>
        You can learn all about SULA (and even stay aboard!) here:
        <a href="https://sulalightship.com/" title="Sula Lightship Home Website"
          >sulalightship.com</a
        >
        Also on AirB&B, CoolStays & Host Unusual
      </p>

      <p>
        Listen to two passionate traditional sailors talk about the subject they
        love and have a laugh at the same time!
      </p>
    </div>

    <template #page2>
      <h1>Back Catalog</h1>
      <div class="card" id="buzzsprout-backcatalog"></div>
      <component
        :is="'script'"
        type="application/javascript"
        charset="utf-8"
        src="https://www.buzzsprout.com/2121210.js?artist=&container_id=buzzsprout-backcatalog&limit=15&player=large"
      ></component>

      <Panel />
    </template>
  </Paginated>
</template>

<style scoped>
.card-item {
  width: 70%;
  position: sticky;
  top: 2rem;
  display: inline-flex;
  align-items: center;
}
.embed-area {
  flex-grow: 2;
}
.number {
  --size: 4rem;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: calc(var(--size) - 1rem);
  font-family: var(--hero-font);
  color: var(--col-base);
  background-color: var(--col-primary);
  border: var(--border-size) solid var(--col-secondary);
  border-radius: 100%;
}
</style>
