<script setup>
defineProps({
  icon: String,
})
</script>

<template>
  <a
    href="mailto:hello@offwatchpodcast.co.uk"
    :class="{ 'with-icon-set': icon }"
  >
    <span v-if="icon">{{ icon }}</span>
    <slot />
  </a>
</template>

<style scoped>
a {
  display: block;
  background: var(--col-primary);
  color: #fff;
  padding: 0.6em 1.2em;
  border-radius: 6px;
}
span {
  padding: 0 0.6em 0 0;
  font-weight: 900;
}
.with-icon-set {
  padding: 0.6em;
}
</style>
