<script setup lang="ts">
const { home, listen, about } = defineProps<{
  home?: boolean
  listen?: boolean
  about?: boolean
}>()
const filter = [home, listen, about].includes(true)
</script>
<template>
  <div>
    <a href="#/">Home</a>
    <a href="#/listen">Listen</a>
    <a href="#/about">About</a>
    <!-- <a href="#/blog">Blog</a> -->
    <!-- <a href="#/contact">Contact</a> -->
    <!-- <a href="#/non-existent-path">Testing Broken Link</a> -->
  </div>
</template>

<style scoped>
div {
  font-size: 2vb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem;
}
@media screen and (max-width: 960px) {
  div {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
a {
  margin: 0.2rem 1rem;
  background: var(--col-primary);
  border-radius: var(--border-size);
  box-shadow: var(--col-secondary) 2px 2px 1px;
  transition: box-shadow 0.1s linear;
  text-align: center;
  color: var(--col-secondary);
}
a:hover {
  box-shadow: none;
}
</style>
