<script setup>
import Email from "./Email.vue"
defineProps({
  title: String,
})
</script>

<template>
  <div class="panel">
    <div class="even">
      <iframe
        src="https://embeds.beehiiv.com/72bda429-dc9b-492f-9001-478297e170c4"
        data-test-id="beehiiv-embed"
        width="100%"
        height="210"
        frameborder="0"
        scrolling="no"
        style="margin: 0; background-color: transparent"
      ></iframe>
    </div>
    <div class="even match-embed">
      <p>
        As you can imagine, a lot goes into creating each episode.
        <br />
        <em
          >If you enjoy the show and want to support us you can 'Buy us a
          Pizza'</em
        >
      </p>
      <a href="https://www.buymeacoffee.com/offwatchpod">
        <img
          src="https://img.buymeacoffee.com/button-api/?text=Want to support us?&emoji=🍕&slug=offwatchpod&button_colour=ffa656&font_colour=fff&font_family=Poppins&outline_colour=000000&coffee_colour=FFDD00"
        />
      </a>
    </div>
    <div class="even match-embed">
      <h2>Contact by Email</h2>
      <p>
        <a href="mailto:hello@offwatchpodcast.co.uk">hello@</a> or reach out to
        Jess or Hannah directly below.
      </p>
      <Email icon="✉️">hello@offwatchpodcast.co.uk</Email>
    </div>
  </div>
</template>

<style scoped>
.panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .panel {
    flex-direction: column;
    padding-bottom: 1rem;
  }
}
.even {
  flex: 1;
}
.match-embed {
  height: 210px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 28px;
  margin: 0 1.2rem;
  color: #666;
  font-family: "Poppins";
}
</style>
