<script lang="ts">
import { ref, computed, defineComponent } from "vue"

import Landing from "./pages/Landing.vue"
import Play from "./pages/Play.vue"
import About from "./pages/About.vue"
// import Contact from "./pages/Contact.vue"
// import Blog from "./pages/Blog.vue"
import NotFound from "./pages/NotFound.vue"

export const routes = {
  "/": Landing,
  "/listen": Play,
  "/about": About,
  // "/blog": Blog,
  // "/contact": Contact,
} as const

export default defineComponent({
  setup() {
    const currentPath = ref(window.location.hash)
    window.addEventListener("hashchange", () => {
      currentPath.value = window.location.hash
    })
    const currentView = computed(() => {
      return routes[currentPath.value.slice(1) || "/"] || NotFound
    })
    return {
      currentView,
    }
  },
})
</script>

<template>
  <component :is="currentView" />
</template>
