<script setup>
// TODO re-size the layout when imported
// import Emblem from "../assets/off-watch-logo-exportable-minified.svg?component"
import Nav from "../components/Nav.vue"

defineProps({
  title: String,
})
</script>

<template>
  <div class="paginated">
    <section class="page one">
      <div class="emblem">
        <img
          class="logo glow ow"
          src="/off-watch-logo-exportable-minified.svg"
          alt="Off Watch Logo"
        />
        <!-- <Emblem /> -->
        <svg viewBox="0 0 525 525" class="emblem-text">
          <defs>
            <path
              fill="none"
              stroke="red"
              id="curve"
              d="M 0 500 C 270 500 500 270 500 0"
            />
          </defs>
          <text x="55" font-size="1.6rem" fill="#fff">
            <textPath xlink:href="#curve">
              @offwatchpod on
              <a href="https://www.instagram.com/offwatchpod/" fill="#88939c">
                Instagram
              </a>
              |
              <a href="https://facebook.com/offwatchpod" fill="#88939c">
                facebook
              </a>
              |
              <a href="https://www.youtube.com/@offwatchpod" fill="#88939c">
                Youtube
              </a>
              |
              <a href="https://feeds.buzzsprout.com/2121210.rss" fill="#88939c">
                RSS
              </a>
            </textPath>
          </text>
        </svg>
      </div>
      <!-- <div class="curve-top"></div>
      <div class="curve-bottom"></div> -->
      <Nav />
      <div class="content">
        <slot></slot>
      </div>
    </section>
    <div style="content: ''; clear: both; display: table"></div>
    <section class="negative">
      <h1>{{ title }}</h1>
    </section>
    <section class="page two">
      <!-- <div class="curve-top-left"></div> -->
      <div class="content">
        <slot name="page2"></slot>
      </div>
    </section>
  </div>
</template>

<style>
html,
body {
  background-color: var(--col-primary);
}
</style>

<style scoped>
.paginated {
  display: grid;
  background: var(--col-primary);
}
.emblem {
  position: relative;
  float: left;
  height: 25vb;
  width: 25vb;
  margin-right: 2%;
  margin-bottom: 1%;
  background: var(--col-primary);
  border-bottom: var(--border-size) solid var(--col-secondary);
  border-right: var(--border-size) solid var(--col-secondary);
  border-bottom-right-radius: 50vh 50vh;
  shape-outside: border-box;
}
.emblem img {
  width: 60%;
  margin: 25px;
}
.emblem-text {
  position: absolute;
  top: 0;
  left: 0;
}
.debug-col {
  background-color: hsl(237deg 100% 70% / 40%);
}
.curve-top {
  float: right;
  width: 29%;
  height: 56%;
  --path: polygon(
    83.63% 59.63%,
    93.95% 38.03%,
    100% 0%,
    100% 100%,
    49% 100%,
    68.03% 80.95%
  );
}
.curve-bottom {
  float: right;
  width: 98%;
  height: 44%;
  --path: polygon(
    68.63% 36.63%,
    79.95% 0.03%,
    100% 0%,
    100% 100%,
    24% 100%,
    53.03% 71.95%
  );
  shape-outside: var(--path);
  clip-path: var(--path);
}
.curve-top-left {
  float: left;
  width: 53%;
  height: 74%;
  margin-right: 2%;
  margin-bottom: 2%;
  --path: polygon(
    0% 0%,
    100% 0%,
    62.13% 8.64%,
    31.13% 30.13%,
    8.64% 62.13%,
    0% 100%
  );
  shape-outside: margin-box var(--path);
  clip-path: var(--path);
}
.page {
  width: 90%;
  background: var(--col-base);
}
.one {
  border-bottom: 5px solid var(--col-secondary);
  border-right: 5px solid var(--col-secondary);
  border-bottom-right-radius: 5vh 5vh;
}
.two {
  border-top-left-radius: 5vh 5vh;
  border-top: 5px solid var(--col-secondary);
  border-left: 5px solid var(--col-secondary);
  margin-left: 10%;
}
.negative {
  margin: calc(var(--border-size) * -1) 0;
  text-align: center;
}
.negative h1 {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 5.1vh;
  font-size: 6vh;
  color: var(--col-base);
  border-top: var(--border-size) solid var(--col-base);
  border-bottom: calc(var(--border-size) + 1px) solid var(--col-base);
  position: relative;
}
</style>
